.appTitle {
  font-style: italic;
  padding: 1rem 3rem;
  transform: skew(-15deg);
  color: #f0f0f0; /* 明るい文字色 */
  background-image: linear-gradient(
    to right,
    #1a1a1a 0%,
    #2a2a2a 100%
  ); /* ダークトーンの背景色 */
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 20px;
}

.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 30px;
  background-color: #2a2a2a; /* ダークトーンの背景色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
  color: #f0f0f0; /* 明るい文字色 */
  min-height: 88vh;
}

.imageUplodeBox {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #333;
  padding: 35px 60px;
  position: relative;
  background-color: #2a2a2a; /* ダークトーンの背景色 */
  border-radius: 8px;
  margin-top: 30px;
  color: #f0f0f0; /* 明るい文字色 */
}

#uploadBox:hover {
  box-shadow: none;
  background-color: #3a3a3a; /* ダークトーンの背景色 */
}

.readImg {
  width: 100px;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 8px;
}

.stitchedImg {
  border: 1px solid #333;
  border-radius: 8px;
}

.imageLogoAndText {
  border: 2px dashed #aaa;
  border-radius: 8px;
  margin-bottom: 0px;
  color: #f0f0f0; /* 明るい文字色 */
}

.imageUploadInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modeList {
  text-align: left;
  color: #f0f0f0; /* 明るい文字色 */
}

.button {
  display: inline-block;
  border-radius: 8px;
  font-size: 16pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 12px;
  background: #444; /* ダークトーンの背景色 */
  color: #f0f0f0; /* 明るい文字色 */
  line-height: 1em;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #333;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button:hover {
  box-shadow: none;
  color: #fff;
  background: #555; /* ホバー時のダークトーンの背景色 */
}

.button#refresh {
  font-size: 12pt;
  background-color: #555; /* ダークトーンの背景色 */
  border: 1px dashed #333;
}

.button#refresh:hover {
  box-shadow: none;
  color: #fff;
}
